doctype html
html
  head
    title= stageName+' '+appName
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description", content=description)
    link(rel="shortcut icon" href="./assets/images/husna-icon.png" type="image/x-icon")
    link(rel="stylesheet" href="./assets/css/uikit.min.css")
    link(rel="stylesheet" href="./assets/css/husna.css")
  body
    //- #cover.uk-container
      img(data-src='./assets/images/cover.jpeg' width='' height='' alt='' uk-img='')
    #about.uk-section
      a.uk-navbar-item.uk-logo(href="#")
        img.uk-preserve(uk-img="data-src:./assets/images/husna-icon.png", alt=appName, style="height: 3.8rem;")
      .husna.title.uk-text-uppercase.uk-text-center= stageName
      .husna.subtitle.uk-text-uppercase.uk-text-center.uk-text-bolder= appName
      .uk-flex.uk-flex-center.uk-flex-wrap
        .uk-padding-small
          a(href=socials.ig.url)
            i.husna-icon.the-icons.icon-instagram-filled &#xf31f;
            span.i-name= socials.ig.name
        .uk-padding-small
          a(href=socials.fb.url)
            i.husna-icon.the-icons.icon-facebook &#xf09a;
            span.i-name= socials.fb.name
        .uk-padding-small
          a(href=socials.in.url)
            i.husna-icon.the-icons.icon-linkedin &#xf0e1;
            span.i-name= socials.in.name
        .uk-padding-small
          a(href=socials.twitter.url)
            i.husna-icon.the-icons.icon-twitter &#xf099;
            span.i-name= socials.twitter.name
    #images.uk-container(uk-filter="target: .js-filter")
      ul.uk-subnav.uk-subnav-pill
        //- li.uk-active(uk-filter-control="")
          a(href='#') All
        each val, index in asset.types
          if index == 0
            li.uk-active(uk-filter-control="[data-tags*='"+ val +"']")
              a(href='#')= val
          else
            li(uk-filter-control="[data-tags*='"+ val +"']")
              a(href='#')= val
        li(uk-filter-control="[data-tags*='store']")
          a(href='#') Store
        li(uk-filter-control="[data-tags*='FAQ']")
          a(href='#') FAQ
      ul.js-filter.uk-text-center(uk-grid="masonry: true")
        each val in asset.images
          - var img = "./assets/images/portfolio/" + val.type + "/"+ val.name
          div(data-tags=val.type class="uk-width-1-2 uk-width-1-4@m")
            img(data-src=img width='' height='' alt='' uk-img='')
        div(data-tags='store').uk-text-left.uk-width-1-1
          .husna.body.uk-text-uppercase.uk-text-center Maaf belum buka dulu ya
        div(data-tags='FAQ').uk-text-left
          article#b7033b2e-d789-4c35-ad49-b82f4f7f8ad0
            .husna.body
              ul#1a633968-4666-4bf5-996e-38e8534e867c.toggle
                li
                  details(open='')
                    summary Dimana saya tinggal?
                    p#9b2e8407-cc01-4c2d-8b53-0ac9b2f30a7d
                      | Saya tinggal di Tangerang Selatan, kalian yg punya tempat makan enak 
                      em hit me up
                      |  di IG yahh
              ul#3824b750-6e62-4971-a48d-468850bc237b.toggle
                li
                  details(open='')
                    summary Apakah saya terbuka untuk freelance?
                    p#c6882dfa-4c15-4097-a0e8-31aa435b79c1 Selalu!!! contact me ASAP!
              ul#24ef3e47-16cf-49c5-93d9-449db111ff69.toggle
                li
                  details(open='')
                    summary Apakah saya jomblo?
                    p#50454875-d42b-427b-9872-14c8edf7227d Mau tau atau mau tau ajah? &#x1F440;



  footer
    script(src="./assets/js/uikit.min.js")
    script(src="./assets/js/uikit-icons.min.js")
    script(src="./assets/js/husna.js")